<!-- <!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<title>Clash Manager</title>
	</head> -->
	<%include partials/header%>
	<body>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<img src="<%=clan.badgeUrls.medium%>" alt="badge.png" class="img-xsmall" />
				<span class="name clash-font"><%=clan.name%></span>
				<img src="/assets/images/gladiatorqueen.png" alt="gladiatorqueen.png" class="img-small d-none d-sm-inline" />
				<hr />
				<p><%=clan.description%></p>
				<p class="text-center">
					<a class="btn custom-btn btn-lg clash-font" href="/members">View Members</a>
				</p>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-3 d-none d-md-block">
					<img src="/assets/images/gladiatorbk.png" alt="gladiatorking.png" class="img-medium img-responsive" />
				</div>
				<div class="col-md-6">
					<div class="clash-font home-leaderboard">
						<% function getClanRole(role){if (role == "admin"){role = "elder";} return role;} %>
							<div class="gold-rank home-leaderboard-row">
								<span><%=clan.memberList[0].clanRank%></span>
								<span><a href=""><%=clan.memberList[0].name%></a></span>
								<span class="member-role"><%=getClanRole(clan.memberList[0].role)%></span>
							</div>
							<div class="silver-rank home-leaderboard-row">
								<span><%=clan.memberList[1].clanRank%></span>
								<span><a href=""><%=clan.memberList[1].name%></a></span>
								<span class="member-role"><%=getClanRole(clan.memberList[1].role)%></span>
							</div>
							<div class="copper-rank home-leaderboard-row">
								<span><%=clan.memberList[2].clanRank%></span>
								<span><a href=""><%=clan.memberList[2].name%></a></span>
								<span class="member-role"><%=getClanRole(clan.memberList[2].role)%></span>
							</div>
					</div>
				</div>
				<div class="col-md-3 d-none d-md-block">
					<img src="/assets/images/grandwarden.png" alt="grandwarden.png" class="img-medium" />
				</div>
			</div>
		</div>

		<%include partials/footer%>
	</body>
</html>
