<%include partials/header%>
<div class="container">
    <div class="name">
    <%if(typeof(player.league) != 'undefined'){%>
        <img src="<%=player.league.iconUrls.small%>" alt="league.png">     
    <%} else{ %>
        <img src="https://api-assets.clashofclans.com/leagues/72/e--YMyIexEQQhE4imLoJcwhYn6Uy8KqlgyY3_kFV6t4.png" alt="unranked.png">
    <%}%>
        <span class="clash-font"><%=player.name%></span>
    </div>
    <a href="/members"><-Back</a>
    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th>Hero</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            <%player.heroes.forEach((hero)=>{%>
                <%if (hero.village == "home"){%>
                    <tr>
                        <td><%=hero.name%></td>
                        <td><%=hero.level%></td>
                    </tr>
                <%}%>
             <%})%>
        </tbody>
    </table>
    
    <div class="row">
        <% player.troops.forEach((troop)=>{ %>
            <div class="col-md-1">
                <div>
                    <%=troop.name%>
                </div>
                <div>
                    <%=troop.level%>
                </div>
                <div>
                    <%=troop.maxLevel%>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>

<%include partials/footer%>